.skills {
  padding-bottom: 1.25rem;
}

.upper-half, .bottom-half {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.bottom-half {
  padding-bottom: 0em;
}

.testing,
.soft-skills .languages {
  display: none;
}

.front-end,
.back-end,
.testing,
.programming-languages,
.soft-skills {
  line-height: 0.5;
}

h5 {
  line-height: 2;
  animation-name: skills-titles;
  animation-duration: 1.5s;
}

.skills p {
  animation-name: skills-text;
  animation-duration: 2s;;
}

@keyframes skills-titles {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

@keyframes skills-text {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

@media only screen and (min-width: 515px ) {
  .testing,
  .soft-skills .languages {
    display: block;
  }
}