.Head {
  margin: 0px;
  height: 100vh;
  background-color: #a68500;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.links {
  display: flex;
  justify-content: flex-end;
  color: white;
  padding-top: 1em;
  padding-right: 2em;
}

.links a:nth-child(1) {
  color: white;
  margin-right: 1em;
}

.links a:nth-child(2) {
  color: white;
}

.links a:nth-child(3) {
  color: white;
  margin-left: 1em;
}

.Introduction-text {
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
  padding-top: 7rem;
  font-family: 'Archivo', sans-serif;
  font-size: 3em;

  p {
    margin-bottom: 0;
  }
}

.name {
  display: flex;
  color: white;
  animation-name: fade-in-text;
  animation-duration: 1.25s;
  padding-bottom: 3rem;
}

.description {
  display: flex;
  flex-direction: column;
  font-family: 'Archivo', sans-serif;
}

.description p {
  display: none;
  line-height: 1;
}

.description p:nth-child(1) {
  display: flex;
  color: white;
  animation-name: fade-in-text;
  animation-duration: 2s;    
}

.description p:nth-child(2) {
  display: flex;
  color: white;
  animation-name: fade-in-text;
  animation-duration: 2.75s;    
}

.description p:nth-child(3) {
  display: flex;
  color: white;
  animation-name: fade-in-text;
  animation-duration: 3.5s;    
}

span {
  display: flex;
  justify-content: center;
}

span .arrow-down {
  opacity: 0;
}

span .arrow-down {
  display: flex;
  color: white;
  margin-top: 10rem;
  animation-name: blinking-arrow;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

@keyframes fade-in-text {
  0% {opacity: 0;}
  90% {opacity: 0}
  95% {opacity: 0.5;}
  100% {opacity: 1;}
}

@keyframes blinking-arrow {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity: 0.65;}
  100% {opacity: 1;}
}
