.profile {
  min-height: 100vh;
  padding-top: 1.5rem;
  flex-direction: column;

  .content-container {
    display: flex;
    justify-content: center;
    height: 90%;
  }

  .arrow-down {
    color: #a68500;
    margin-bottom: 1.25rem;
  }
}

.profile-picture {
  display: none;
  margin-right: 3rem; 
}

.profile-components {
  height: 36.3rem;
  padding: 1rem;
  border: solid;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 0rem;
}

.jumbotron.resume-mode {
  padding: none
}

.modes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  padding-top: 1rem;

  a {
    color: #fff;
  }

  button {
    margin-bottom: 0.25rem;
  }

  .nbsp {
    display: none;
  }
}

@media only screen and (min-width: 471px) {
  .modes {
    flex-direction: row;
  
    .nbsp {
      display: initial;
    }
  }
}

@media only screen and (min-width: 500px) {
  .modes {
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 520px) {
  .info-container {
    height: auto;
  }
}

@media only screen and (min-width: 600px) {
  .class-separator {
    display: none;
  }

  .Summary p {
    font-size: 0.93rem;
  }
}

@media only screen and (min-width: 700px) {
  .info-container {
    width: 60%;
  }
}

@media only screen and (min-width: 815px) {
  .profile-picture {
    display: block;
  }

  .info-container {
    width: 50%;
  }
}

@media only screen and (min-width: 1050px) {
  .profile-components {
    padding: 1rem;
    border: solid;
  }
}

@media only screen and (min-width: 1000px) {
  .info-container {
    width: 40%;
  }
}

//Full screen
@media only screen and (min-width: 1215px) {
  .profile {
    height: 100vh;
    padding-top: 1.5rem;
  
    .arrow-down {
      margin-bottom: 1.25rem;
    }
  }

  .profile-components {
    height: 77%;
    padding: 1rem;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
  }
}
